<h1>Courses Listing</h1>

  <ul>
    <li> Code : 420 </li>
    <li> Description : 420 </li>
    <li> Mode : 420 </li>
  </ul>

  <ul>
    <li> Code : 420 </li>
    <li> Description : 420 </li>
    <li> Mode : 420 </li>
  </ul>
